{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "rules": {
    "no-console": "off"
  },
  "ignorePatterns": ["webpack.*.js"],
  "parserOptions": {
    "requireConfigFile": false
  }
}