{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended",
    "airbnb",
    "prettier"
  ],
  "parser": "vue-eslint-parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "root": true,
  "ignorePatterns": [
    "webpack.*.js",
    "dist"
  ],
  "parserOptions": {
    "requireConfigFile": false,
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "no-alert": "off",
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "ignorePackages",
        "vue": "ignorePackages"
      }
    ],
    "@typescript-eslint/no-var-requires": "off",
    "global-require": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts",
          ".vue"
        ],
        "moduleDirectory": [
          "node_modules"
        ]
      },
      "alias": {
        "map": [
          // I have my actions folder in ./shared/actions
          ["@", "./src/"],
          ["@components", "./src/app/components/"]
        ],
        "extensions": [".ts", ".js", ".vue"]
      }
    }
  }
}