{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "ignorePatterns": ["webpack.*.js"],
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
    "no-console": "off",
    "no-alert": "off"
  }
}