<!doctype html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
<!--<header data-react="Header" data-test='{ "name": "Dima" }'>-->

<!--</header>-->

<header>
    <h1>Hello wolrd!</h1>
</header>